<?xml version="1.0"?>
<phpunit>
    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <file>includes/helper.php</file>
            <file>classes/Services/ReviewService.php</file>
            <file>classes/Services/BookingService.php</file>
            <file>classes/auth/Services/AuthService.php</file>
            <file>classes/Database/DatabaseTable.php</file>
            <file>classes/Database/DatabaseModel.php</file>
            <file>classes/Models/Member.php</file>
            <file>classes/Models/Member.php</file>
        </whitelist>
    </filter>
</phpunit>